/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

// * Colors
$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
// * Float Layout
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-width: 114rem;
// * Mixins
@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

// Utility Classes
.u-center-text {
    text-align: center;
}

.u-margin-bottom-sm {
    margin-bottom: 1.4rem;
}

.u-margin-bottom-med {
    margin-bottom: 4rem;
}

.u-margin-bottom-lg {
    margin-bottom: 8rem;
}

// ! FLOAT LAYOUT
.row {
    max-width: $gutter-width;
    margin: 0 auto;
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
    // Select all columns
    [class^="col-"] {
        float: left;
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }
    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }
    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }
    .col-2-of-3 {
        width: calc( 2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }
    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }
    .col-2-of-4 {
        width: calc( 2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
    }
    .col-3-of-4 {
        width: calc( 3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
    }
    @include clearfix();
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        opacity: 1;
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        opacity: 1;
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveBottom {
    0% {
        opacity: 0;
        transform: translateY(8rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 2rem;
    box-sizing: border-box;
}


/* Header Starts */

.header {
    position: relative;
    height: 95vh;
    width: 100%;
    background-image: linear-gradient( to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../image/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    &__logo-box {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

// Header Ends
// Typography starts
.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    &__text {
        &--main {
            display: block;
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: 3.5rem;
            animation-name: moveLeft;
            animation-duration: 1.4s;
        }
        &--sub {
            display: block;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 1.74rem;
            animation-name: moveRight;
            animation-duration: 1.4s;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient( to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all 0.4;
    &:hover {
        transform: skewY(2deg) skewX(13deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color: $color-black, $alpha: 0.2);
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
}

.paragraph {
    font-size: 1.6rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

// Typography ends
// Section styles Starts
.section-about {
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin-top: -20vh;
}

// Section styles ends

/* Component starts */

.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        &::after {
            transform: scale(1.2);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        z-index: -1;
        transition: all 0.4s;
    }
    &--animate {
        animation: moveBottom 0.6s ease-in-out;
        animation-fill-mode: backwards;
    }
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        &::after {
            background-color: $color-white;
        }
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1.5rem;
        font-weight: 700;
        color: $color-primary;
        text-decoration: none;
        display: inline-block;
        border-bottom: 1px solid $color-primary;
        transition: all 0.2s;
        padding: 3px;
    }
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color: $color-black, $alpha: 0.15);
        transform: translateY(0);
    }
}

// Image Composition
.composition {
    position: relative;
    &__photo {
        position: absolute;
        width: 55%;
        box-shadow: 0 1.5rem 3rem rgba($color: $color-black, $alpha: 0.4);
        // border-radius: 1px;
        transition: all 0.2s;
        z-index: 10;
        outline-offset: 1rem;
        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 0;
            top: 2rem;
        }
        &--p3 {
            left: 20%;
            top: 7rem;
        }
        &:hover {
            z-index: 20;
            transform: scale(1.05) translateY(-0.5rem);
            outline: 1rem solid $color-primary;
            box-shadow: 0 2.5rem 4rem rgba($color: $color-black, $alpha: 0.4);
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }
}